.tab {
    display: inline-block;
    padding: 5px 15px;
}

.tab a {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    color: cadetblue;
}

.tab.active {
    background-color: cadetblue;
}

.tab.active a {
    color: white;
}
